<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ReactNativePlantilla</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.235777853257-djkpgca69noinapgft2ua7vgq2bcieg3</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to pick images.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Necesito saber tu ubicación para mostrar el mapa</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Necesito saber tu ubicación para mostrar el mapa</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necesito saber tu ubicación para mostrar el mapa</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf</string>
		<string>NotoSansDisplay-VariableFont_wdth,wght.ttf</string>
		<string>NotoSansDisplay-Black.ttf</string>
		<string>NotoSansDisplay-BlackItalic.ttf</string>
		<string>NotoSansDisplay-Bold.ttf</string>
		<string>NotoSansDisplay-BoldItalic.ttf</string>
		<string>NotoSansDisplay-ExtraBold.ttf</string>
		<string>NotoSansDisplay-ExtraBoldItalic.ttf</string>
		<string>NotoSansDisplay-ExtraLight.ttf</string>
		<string>NotoSansDisplay-ExtraLightItalic.ttf</string>
		<string>NotoSansDisplay-Italic.ttf</string>
		<string>NotoSansDisplay-Light.ttf</string>
		<string>NotoSansDisplay-LightItalic.ttf</string>
		<string>NotoSansDisplay-Medium.ttf</string>
		<string>NotoSansDisplay-MediumItalic.ttf</string>
		<string>NotoSansDisplay-Regular.ttf</string>
		<string>NotoSansDisplay-SemiBold.ttf</string>
		<string>NotoSansDisplay-SemiBoldItalic.ttf</string>
		<string>NotoSansDisplay-Thin.ttf</string>
		<string>NotoSansDisplay-ThinItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Black.ttf</string>
		<string>NotoSansDisplay_Condensed-BlackItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Bold.ttf</string>
		<string>NotoSansDisplay_Condensed-BoldItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-ExtraBold.ttf</string>
		<string>NotoSansDisplay_Condensed-ExtraBoldItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-ExtraLight.ttf</string>
		<string>NotoSansDisplay_Condensed-ExtraLightItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Italic.ttf</string>
		<string>NotoSansDisplay_Condensed-Light.ttf</string>
		<string>NotoSansDisplay_Condensed-LightItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Medium.ttf</string>
		<string>NotoSansDisplay_Condensed-MediumItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Regular.ttf</string>
		<string>NotoSansDisplay_Condensed-SemiBold.ttf</string>
		<string>NotoSansDisplay_Condensed-SemiBoldItalic.ttf</string>
		<string>NotoSansDisplay_Condensed-Thin.ttf</string>
		<string>NotoSansDisplay_Condensed-ThinItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Black.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-BlackItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Bold.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-BoldItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Italic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Light.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-LightItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Medium.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-MediumItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Regular.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-Thin.ttf</string>
		<string>NotoSansDisplay_ExtraCondensed-ThinItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Black.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-BlackItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Bold.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-BoldItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Italic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Light.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-LightItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Medium.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-MediumItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Regular.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-Thin.ttf</string>
		<string>NotoSansDisplay_SemiCondensed-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
